.app-header {
    background: #e91e63;
    color: white;
    section.container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    h1.logo {
        flex-grow: 1;
        font-weight: 600;
    }
    .back {
        flex-grow: 1;
    }
    nav a:not(:last-child) {
        margin-right: 10px;
    }
    section.container>section {
        flex-grow: 1;
    }
    .user-info {
        // background-color: $clr2;
        // padding: 2px 8px;
        padding-left: 100px;
        color: white;
        .score {
            background-color: lightgreen;
            color: green;
            padding: 8px;
            margin: 10px;
            border-radius: 50%;
        }
        img {
            width: 32px;
            height: 32px;
            border-radius: 50%;
            object-fit: cover;
        }
    }
    .user-info .btn-link {
        color: green;
    }
}